/*Make the wrapper fill the entire screen and give it a background color */

#spinnerWrapper {
  visibility: hidden;
  padding: 15px;
}

#spinner1 {
  display: block;
  position: relative;
  /*Put the spinner in the center of the screen */
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  /*adjust the margin to put the spinner dead center */
  margin: -25px 0 0 -25px;
  /*Make the border transparent except for the top which then has a curve using the border radius */
  border: 2px solid transparent;
  border-top-color: #FF161C;
  border-radius: 50%;
  z-index: 1000;
  /*Add the spin animation to all spinner divs */
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#spinner2 {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid transparent;
  border-top-color: #FFD70F;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#spinner3 {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid transparent;
  border-top-color: #00FF01;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#spinner4 {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid transparent;
  border-top-color: #002FFF;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#spinner5 {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid transparent;
  border-top-color: #9E10E8;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
